.not-found-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png");
    background-size: cover;
}

@media screen and (min-width:768px) {
    .not-found-container{
        background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
    }
}

.not-found-text{
    color:white;
    font-family: 'roboto';
    font-size: 50px;
}